Application/ProjectMVC/ProjectMVC/Connected Services/ServiceReferenceAccount/WebServiceAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Account">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="balance" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccountSoapIn">
    <wsdl:part name="parameters" element="tns:Account" />
  </wsdl:message>
  <wsdl:message name="AccountSoapOut">
    <wsdl:part name="parameters" element="tns:AccountResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAccountSoap">
    <wsdl:operation name="Account">
      <wsdl:input message="tns:AccountSoapIn" />
      <wsdl:output message="tns:AccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAccountSoap" type="tns:WebServiceAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Account">
      <soap:operation soapAction="http://tempuri.org/Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAccountSoap12" type="tns:WebServiceAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Account">
      <soap12:operation soapAction="http://tempuri.org/Account" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAccount">
    <wsdl:port name="WebServiceAccountSoap" binding="tns:WebServiceAccountSoap">
      <soap:address location="https://localhost:44328/WebServiceAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAccountSoap12" binding="tns:WebServiceAccountSoap12">
      <soap12:address location="https://localhost:44328/WebServiceAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>