Application/ProjectMVC/ProjectMVC/Connected Services/ServiceReferenceIncrease/WebServiceIncrease.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Increase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="toAccount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IncreaseSoapIn">
    <wsdl:part name="parameters" element="tns:Increase" />
  </wsdl:message>
  <wsdl:message name="IncreaseSoapOut">
    <wsdl:part name="parameters" element="tns:IncreaseResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceIncreaseSoap">
    <wsdl:operation name="Increase">
      <wsdl:input message="tns:IncreaseSoapIn" />
      <wsdl:output message="tns:IncreaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceIncreaseSoap" type="tns:WebServiceIncreaseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Increase">
      <soap:operation soapAction="http://tempuri.org/Increase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceIncreaseSoap12" type="tns:WebServiceIncreaseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Increase">
      <soap12:operation soapAction="http://tempuri.org/Increase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceIncrease">
    <wsdl:port name="WebServiceIncreaseSoap" binding="tns:WebServiceIncreaseSoap">
      <soap:address location="https://localhost:44327/WebServiceIncrease.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceIncreaseSoap12" binding="tns:WebServiceIncreaseSoap12">
      <soap12:address location="https://localhost:44327/WebServiceIncrease.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>