Application/ProjectMVC/ProjectMVC/Connected Services/ServiceReferenceToAccount/WebServiceToAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ToAccountBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToAccountBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ToAccountBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ToAccountBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:ToAccountBalance" />
  </wsdl:message>
  <wsdl:message name="ToAccountBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:ToAccountBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceToAccountSoap">
    <wsdl:operation name="ToAccountBalance">
      <wsdl:input message="tns:ToAccountBalanceSoapIn" />
      <wsdl:output message="tns:ToAccountBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceToAccountSoap" type="tns:WebServiceToAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToAccountBalance">
      <soap:operation soapAction="http://tempuri.org/ToAccountBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceToAccountSoap12" type="tns:WebServiceToAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToAccountBalance">
      <soap12:operation soapAction="http://tempuri.org/ToAccountBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceToAccount">
    <wsdl:port name="WebServiceToAccountSoap" binding="tns:WebServiceToAccountSoap">
      <soap:address location="https://localhost:44358/WebServiceToAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceToAccountSoap12" binding="tns:WebServiceToAccountSoap12">
      <soap12:address location="https://localhost:44358/WebServiceToAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>