Application/ProjectMVC/ProjectMVC/Connected Services/ServiceReferenceFromAccount/WebServiceFromAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FromAccountBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FromAccountBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FromAccountBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FromAccountBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:FromAccountBalance" />
  </wsdl:message>
  <wsdl:message name="FromAccountBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:FromAccountBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceFromAccountSoap">
    <wsdl:operation name="FromAccountBalance">
      <wsdl:input message="tns:FromAccountBalanceSoapIn" />
      <wsdl:output message="tns:FromAccountBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceFromAccountSoap" type="tns:WebServiceFromAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FromAccountBalance">
      <soap:operation soapAction="http://tempuri.org/FromAccountBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceFromAccountSoap12" type="tns:WebServiceFromAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FromAccountBalance">
      <soap12:operation soapAction="http://tempuri.org/FromAccountBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceFromAccount">
    <wsdl:port name="WebServiceFromAccountSoap" binding="tns:WebServiceFromAccountSoap">
      <soap:address location="https://localhost:44363/WebServiceFromAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceFromAccountSoap12" binding="tns:WebServiceFromAccountSoap12">
      <soap12:address location="https://localhost:44363/WebServiceFromAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>